@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import "bootstrap.min.css";
@import "animate.css";
@import "pe-icons.css";


@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
          transition: $transition;
}

/*-----------------------------------------------------------------------------------*/
/*  BASE
/*-----------------------------------------------------------------------------------*/
.bg-white{
  background-color: #FFF;
}

.col-centered {
    float:none;
    margin:auto;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.9;
  background-color: #f3f3f3;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #ff9600;
  text-decoration: none;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  &:hover {
    color: #ff9600;
    text-decoration: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
}

b, strong {
  font-weight: 900;
}

img{
  max-width: 100%;
}

.img-responsive {
  width: 100%;
}

.nopadding {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.nopadding-lr {
  padding-left: 0;
  padding-right: 0;
}

.gap {
  margin-bottom: 60px;
}

.centered {
  text-align: center;
}

.content-section section {
  padding-bottom: 0px;
  background-color: #f3f3f3;
}

.divider-wrapper {
  &.opaqued {
    background-color: rgba(36, 36, 36, 0.9);
    color: #f3f3f3;
  }
  background-color: #242424;
  color: #f3f3f3;
}

/* BUTTONS */

.btn {
  background: #ff9600;
  border-color: transparent;
  color: #f3f3f3;
  box-shadow: 0 3px #da8000;
  border-radius: 25px;
  padding: 10px 32px;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  &:hover {
    background: #ff9600;
    box-shadow: 0 2px #da8000;
    color: #f3f3f3;
    top: 2px;
    border-color: transparent;
  }
  &:active, &:focus {
    box-shadow: 0 0 #da8000;
    color: #f3f3f3;
    top: 6px;
    border-color: transparent;
    outline: 0;
  }

  &.dark{
    background-color: #30414a;
    box-shadow: 0 3px #1d272c;
  }
}

.btn-alt {
  background: #242424;
  border-color: transparent;
  color: #f3f3f3;
  box-shadow: 0 6px #202020;
  border-radius: 0px;
  padding: 18px 32px;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  &:hover {
    background: #202020;
    box-shadow: 0 4px #101010;
    color: #f3f3f3;
    top: 2px;
    border-color: transparent;
  }
  &:active {
    box-shadow: 0 0 #101010;
    color: #f3f3f3;
    top: 6px;
    border-color: transparent;
  }
}

select {
    -webkit-appearance: none!important;
    -webkit-border-radius: 0;
    background-color: transparent;
    background-image: url(../img/arrow-select.png);
    background-position: 100% center;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 1px;
    border-color: #3f5561;
    font-size: 16px;
    color: #3f5561;
    line-height: normal;
    border-radius: 0;
    height: 60px;
    text-transform: uppercase;
    padding: 0 35px 0 5px;
    font-weight: 400;

    option{
      color: #555;
    }

    &.dark-selector{
      width: 100%;
      border-color: #fff;
      background-image: url(../img/arrow-select-white.png);
      color: #fff;
    }
}

select:focus{
  outline: 0;
}

@media (min-width: 1200px){
  .container {
  width: 98%;
  }
}

a:focus,
input[type="submit"]:focus{
  outline: 0;
}


#content-wrap{
  margin-top: 135px;

  &.no-carousel{
    margin-top: 75px;
  }
}

/*-----------------------------------------------------------------------------------*/
/*  HEADER
/*-----------------------------------------------------------------------------------*/
/* TOP BAR */

#topbar {
  height: 30px;
  min-height: 30px;
  margin: 0;
  ul li a {
    padding: 10px 0;
    font-size: 10px;
    margin-right: 30px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
    color: #fff;
    &:hover {
      background-color: transparent;
      color: #ff9600 !important;
    }
  }
  #top-bar-social li a {
    color: #ff9600;
    font-size: 15px !important;
    padding: 7px 10px !important;
    margin-right: 0 !important;
    margin-left: 0px;
    height: 30px;
    &:hover {
      background-color: #ff9600;
      color: #f3f3f3 !important;
    }
  }
}

#topbar-latest-posts .blog-item .overlay {
  top: 100%;
  background-color: rgba(36, 36, 36, 0.9);
}

#topbar-latest-posts-inner-fullwidth {
  overflow-x: hidden;
  .blog-item .overlay {
    top: 100%;
    background-color: transparent;
    h2 {
      color: #fff !important;
      background-color: rgba(36, 36, 36, 0.9);
      padding: 8px 10px 10px;
      top: auto !important;
      bottom: 30px;
    }
  }
}

#topbar-latest-posts {
  .blog-item {
    &:hover .overlay {
      top: 0%;
    }
    .overlay h2 {
      font-size: 16px;
      color: #ff9600;
      font-weight: 300;
      position: absolute;
      top: 50%;
      margin: -8px 0 0 0;
      width: 100%;
      letter-spacing: -1px;
    }
  }
  .close-trigger {
    line-height: 55px;
  }
}

#latest-trigger {
  a {
    color: #f3f3f3;
    float: right;
    display: block;
    margin: 15px 0;
    text-transform: uppercase;
    font-size: 10px;
  }
  i {
    margin-left: 20px;
  }
}

#topbar-latest-posts-inner {
  overflow: hidden;
}

#topbar-latest-posts .full-header {
  .blog-item {
    width: 14.25%;
  }
  .col-md-3 {
    width: 20%;
  }
}

.header-lg-overlay {
  position: absolute;
  bottom: -20px;
  width: 100%;
  text-align: center;
  font-weight: 300;
  color: #f3f3f3;
  text-transform: uppercase;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  p {
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0;
    position: relative;
    margin-bottom: -80px;
    text-transform: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
}

#topbar-latest-posts-inner-fullwidth .blog-item:hover .header-lg-overlay {
  p {
    opacity: 1;
    margin-bottom: 10px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  bottom: 0;
  background-color: rgba(36, 36, 36, 0.9);
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header-lg-overlay h3 {
  font-weight: 300;
}

#topbar-latest-posts .full-header .blog-item {
  img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    width: 100%;
  }
  &:hover img {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
}

/* MAIN NAVIGATION */

.navbar-brand{
  padding: 15px 15px 0 0;
  height: auto;
}



  .navbar{
    border-radius: 0px !important;
  }

#main-navigation {
  box-shadow: 0 6px #121921;
  margin-bottom: 0;
  z-index: 10;
  &.isStuck {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #252d30;
    border-radius: 0px;
  }

  .btn{
    border-radius: 0px;

    &:hover{
      top:0;
    }
  }

  .navbar-form{
    border: 0;
    margin: 0;
    padding: 20px 0;
      .form-group{
          .form-control{
              background: transparent;
              border: 0;
              box-shadow: none;

              &:focus, &:active{
                box-shadow:none;
                outline: 0;
              }
          }
      }

      .button{
        background: transparent;
        border: 0;
        color: #FFF;
        box-shadow: none;

        &:focus{
          outline:0;
        }
      }
  }


  .navbar-right{
    margin-right: -43px;

    li{
      &:first-child{
          a{
            color:#fff !important;
            text-transform: uppercase !important;
            font-size: 16px;
            letter-spacing: 0px;
          }
      }

      &.user-menu{
        height: 80px;

        a{
          padding: 15px 15px 0;
          display: block;
          height: 100%;

          &:hover{
            background:#404b50;
          }
        }
      }
    }
  }


}

.navbar-nav {
  > li {
    border-right: 1px solid #424242;
    &.active a {
      background-color: transparent !important;
      color: #ff9600 !important;
    }
    > a {
      padding-top: 30px;
      padding-bottom: 30px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 300;
      
    }

    &:first-child{
        background-color: #313a3f;
        box-shadow: inset 0 0 25px #2C2C2C;
        -webkit-box-shadow: inset 0 0 25px #2C2C2C;
        -moz-box-shadow: inset 0 0 25px #2C2C2C;
    
        > a{
          text-transform: lowercase;
          color: #6f7579 !important;
          letter-spacing: -1px;
          font-size: 20px;
        }
    }

    &.active{
      background-color: #405561;
    }
  }
  li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
  }

  .btn{
    box-shadow: 0 6px #da8000;

    &:hover, &:active{
      background-color:#E59728 !important;
    }

    &:focus{
      top: 0;
       background-color:#E59728 !important;
    }
  }
}

.navbar-default {
  background-color: #252d31;
  border-color: transparent;
  border: none;
  .navbar-nav > .active > a {
    &:hover, &:focus {
      background-color: #405561 !important;
      color: #f3f3f3 !important;
    }
  }
}

#main-navigation .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > {
  li > a {
    &:hover, &:focus {
      background-color: #405561;
      color: #f3f3f3 !important;
    }
  }
  .open > a {
    background-color: #405561;
    color: #f3f3f3 !important;
    &:hover, &:focus {
      background-color: #405561;
      color: #f3f3f3 !important;
    }
  }
}

.dropdown-menu {
  background-color: #ff9600;
  color: #f3f3f3;
  padding: 0;
  border: none;
  border-radius: 0;
  > li > a {
    color: #f3f3f3 !important;
    padding: 18px 20px;
    &:hover, &:focus {
      background-color: #da8000;
      color: #f3f3f3 !important;
    }
  }
}

.navbar-default .navbar-toggle {
  &:hover, &:focus {
    background-color: transparent;
  }
  border: none;
}

.navbar-toggle {
  position: relative;
  top: 5px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ff9600;
}

.caret {
  display: inline-block;
  width: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: none;
  border-right: none;
  border-left: none;
  height: 15px;
  margin-top: -6px;
}

/* SEARCH WRAPPER */

#search-wrapper {
  width: 100%;
  position: relative;
}

.header-widgets-wrapper {
  background-color: #242424;
}

#header-search-input {
  margin: 0;
  padding: 25px 0;
  color: #f3f3f3;
  .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 20px;
    padding-left: 4px \9;
    margin-bottom: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    color: #f3f3f3;
    &::-webkit-input-placeholder {
      color: #ff9600;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: #ff9600;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: #ff9600;
    }
    &:-ms-input-placeholder {
      color: #ff9600;
    }
  }
  .form-control:focus {
    border: 1px solid #fff;
    box-shadow: none;
  }
  button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ff9600;
    z-index: 10;
    box-shadow: none;
  }
}

#header-query:focus + button {
  z-index: 3;
}

.close-trigger {
  color: #fff;
  margin: 25px 0;
  display: block;
  height: 34px;
  line-height: 34px;
  &:hover {
    cursor: pointer;
  }
  i {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
  }
}


/*-----------------------------------------------------------------------------------*/
/*  ASPIRASIK NAVIGATION
/*-----------------------------------------------------------------------------------*/
.aspirasik-nav{
  background-color:#313A3F !important;

#aspirasik-logo {
    position: absolute;
    left: 0;
    top: 1px;
    padding: 0;
    height: 100%;

    img{
      height: 100%;
    }
  }

  .navbar-nav{
    > li:first-child{
      border-left: 1px solid #424242;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
    }
  }
}

/*-----------------------------------------------------------------------------------*/
/*  CAROUSEL MENU
/*-----------------------------------------------------------------------------------*/
#carousel-menu {
  position: fixed;
  z-index: 100;
  height: 50px;
  overflow: hidden;
  background: #485960;
  width: 100%;
  top: 85px;
  left: 0;
  right: 0;
  margin:0;
  padding:0;

  li{
      display: inline-block;
      list-style: none;
      text-transform: uppercase;
      padding: 12px 25px;
      font-size: 14px;
      border-right: 1px solid #3f4e54;  

      a{
        color: #fff;
        font-weight:bold;

        &:hover{
          color: #ff9600;
        }
      }
  }
}

/*-----------------------------------------------------------------------------------*/
/*  HERO PANEL
/*-----------------------------------------------------------------------------------*/
#hero-panel {
  height: 490px;
  background: url(../img/450.jpg) top center no-repeat;
  background-size: cover;
  position: relative;

  .overlay {
    position: absolute;
    right: 0;
    width: 500px;
    height: 100%;
    color: #FFF;
    background-color:rgba(72, 89, 96, 0.9);

    .inner{
       padding: 20px 50px;
    }

    h2{
      text-transform: uppercase;
      font-size: 24px;
      color: #fff;
    }

    p{
      font-size: 18px;
      line-height: 1.4;
      margin-bottom: 25px;
    }

    .btn{
      padding: 10px 20px;
    }

    .box{
      background-color: #3e5460;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 20px;
      text-transform: uppercase;

      h3, h4{
        margin: 0;
        vertical-align: top;
        display: inline-block;
      }

      h3{
        font-size: 40px;
        line-height: 1;
      }

      h4{
        width: 245px;
        font-size: 12px;
        font-weight: normal;
        margin: 5px 8px 0;
      }

      .btn{
        background-color: #30414a;
        padding: 10px;
        box-shadow: 0 5px #1e2a30;
      }
    }

    select{
      margin:0 0 30px;
    }
  }
}


/*-----------------------------------------------------------------------------------*/
/*  MAIN SLIDER
/*-----------------------------------------------------------------------------------*/

#home-slider {
  background-color: #242424 !important;
  .btn, .btn-alt {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.full-width-carousel {
  .btn, .btn-alt {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.btn .fa-calendar, #home-slider .btn-alt i, .full-width-slider .btn-alt i {
  margin-right: 5px;
}

#home-slider {
  .backstretch {
    max-width: 100% !important;
  }
  .caption-wrapper {
    background-color:rgba(72, 89, 96, 0.9);
    padding: 40px 0 20px 20px;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    position: relative;
    left: -5px;
    &:before {
      content: '';
      height: 100%;
      widows: 15px;
      background: #ff9600;
    }
  }
  #slider-fill {
    background-color: rgba(72, 89, 96, 0.9);
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
  }
  .carousel-caption {
    text-align: left;
    position: relative;
    left: 0%;
    right: 0%;
    bottom: 0px;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #fff;
    text-shadow: none;
    h2 {
      color: #ff9600;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 24px;
      letter-spacing: 2px;
      margin: 0 0 15px 0;
    }
    p {
      line-height: 1.8;
      margin-bottom: 45px;
    }
  }
  .img-responsive {
    width: 100%;
  }
  .carousel {
    position: relative;
  }
  .controllers {
    position: absolute;
    top: 0px;
  }
  .carousel-control {
    &.left {
      background-image: none;
      font-size: 90px;
      line-height: 1;
      height: 90px;
      margin-top: -45px;
      margin-right: 50px;
    }
    &.right {
      background-image: none;
      font-size: 90px;
      line-height: 1;
      height: 90px;
      margin-top: -45px;
      margin-right: 50px;
      right: 0px;
      color: #f3f3f3;
      left: auto;
    }
    left: 0px;
    color: #f3f3f3;
  }
}

.carousel.carousel-fade {
  .item {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
  }
  .active {
    &.left, &.right {
      left: 0;
      z-index: 2;
      opacity: 0;
      filter: alpha(opacity = 0);
    }
  }
  .next, .prev {
    left: 0;
    z-index: 1;
  }
  .carousel-control {
    z-index: 3;
    width: 30%;
  }
}

.carousel-control {
  &.left, &.right {
    background-image: none;
  }
}

.post-carousel {
  .carousel-control {
    left: -100px;
    color: #ff9600;
    z-index: 1;
  }
  .item {
    z-index: 5;
  }
  .carousel-control.right {
    right: -100px;
    color: #ff9600;
    left: auto;
  }
}

.carousel-control {
  i {
    position: absolute;
    top: 50%;
    display: inline-block;
    font-size: 80px;
    margin-top: -40px;
  }
  .fa-angle-left {
    margin-left: -30px;
  }
}

.full-width-carousel {
  img {
    min-width: 100%;
    width: 100%;
    height: auto;
  }
  .carousel-caption {
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #fff;
    text-align: center;
    right: 0;
    .col-md-4 {
      background-color: rgba(72, 89, 96, 0.9);
      max-width: 433px;
      float: none;
      margin-left: auto;
      margin-right: auto;
      padding: 25px 20px;
      border-top: 5px solid #ff9600;
      text-shadow: none;
    }
    .section-heading {
      margin-bottom: 0;
      color: #fff;
      text-transform: none;
      h2 {
        font-size: 24px;
        margin-bottom: 20px;
        margin-top: 0;
        text-transform: uppercase;
      }
      p {
        margin-bottom: 25px;
        font-size: 14px;
      }
    }
  }
  .icon-prev, .icon-next {
    font-size: 100px;
    margin-top: -100px;
  }
}

.post-carousel {
  .icon-prev, .icon-next {
    font-size: 100px;
    margin-top: -100px;
  }
}

.carousel {
  .controllers {
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  &:hover .controllers {
    opacity: 1;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
}

.carousel-control {
  .icon-prev, .icon-next {
    opacity: 0 !important;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
}

.owl-carousel {
  .owl-next, .owl-prev {
    opacity: 0 !important;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
}

.carousel:hover {
  .icon-prev, .icon-next {
    opacity: 1 !important;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
}

.owl-carousel:hover {
  .owl-next, .owl-prev {
    opacity: 1 !important;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
}

/*-----------------------------------------------------------------------------------*/
/*  IMAGE OVERLAYS
/*-----------------------------------------------------------------------------------*/

.blog-item {
  overflow: hidden;
}

.item-icon-wrapper {
  background: rgba(36, 36, 36, 0.9);
  width: 40px;
  height: 40px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  display: none;
}

.blog-item:hover .item-icon-wrapper, .post .item-inner:hover .item-icon-wrapper {
  opacity: 0;
  top: -40px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

.item-icon-wrapper i {
  color: #fff;
  font-size: 30px;
  position: relative;
  top: 6px;
}

.overlay-icon {
  color: #f3f3f3;
  font-size: 40px;
  position: absolute;
  line-height: 40px;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  &:hover {
    color: #fff;
  }
  .pe-7s-close {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
  }
}

.item-icon-wrapper .pe-7s-close {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.blog-item .overlay, .post .overlay {
  position: absolute;
  /*top: 98%;*/
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(255,150,0,.85);
  text-align: center;
  vertical-align: middle;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  padding: 10% 0 0 0;
}

.blog-item .overlay .overlay-metas {
  position: absolute;
  bottom: 0;
  display: block;
  clear: left;
  margin-top: 0;
  float: left;
  background: #3f5561;
  border: none;
  color: #f3f3f3;
  font-size: 18px;
  width: 100%;
  padding: 10px 20px 10px;
  line-height: 1;
  vertical-align: middle;
}

.overlay-metas {
  .list-inline {
    line-height: 1;
    display: inline-block;
    text-align: left;
    li {
      padding-left: 0;
    }
    a {
      color: #ff9600 !important;
      font-size: 16px !important;
      position: relative !important;
      top: 0px !important;
      &:hover {
        color: #f3f3f3 !important;
      }
    }
  }
  .view-post {
    text-align: right;
    font-size: 14px !important;
    color: #ff9600 !important;
  }
  .list-inline, .post-date, .view-post {
    width: 32%;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
  }
}

.overlay .overlay-metas a {
  display: inline-block;
  color: #f3f3f3;
  font-size: 10px;
  position: relative;
  height: 12px;
  &:hover {
    color: #ff9600;
  }
}

.blog-item {
  .overlay {
    h2 {
      color: #f3f3f3;
      text-transform: uppercase;
      font-size: 22px;
    }
    p {
      color: #f3f3f3;
      font-size: 14px;
      padding: 10px 15px 0;
      line-height: 1.4;
      /*text-align: left;*/
    }
  }
  &:hover .overlay {
    opacity: 1;
    top: 0;
  }
}

.post .item-inner:hover .overlay {
  opacity: 1;
  top: 0;
}

.item-inner {
  position: relative;
}

/*-----------------------------------------------------------------------------------*/
/* SINGLE POSTS
/*-----------------------------------------------------------------------------------*/

#single-slider {
  min-height: 600px;
  .single-slider-post-heading {
    background-color: rgba(36, 36, 36, 0.9);
    padding: 25px 20px;
    border-bottom: 5px solid #ff9600;
    text-shadow: none;
    .section-heading {
      margin: 0;
      text-transform: none;
      p {
        margin: 0;
        text-transform: none;
      }
      span {
        color: #f3f3f3;
      }
    }
    h2 {
      margin: 20px 0;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}

#post-nav-box {
  overflow: hidden;
  border-left: 1px solid #ff9600;
  border-right: 1px solid #ff9600;
  border-top: 1px solid #ff9600;
  border-bottom: 1px solid #ff9600;
}

.bottom-border {
  border-bottom: 1px solid #ff9600;
}

.right-border {
  border-right: 1px solid #ff9600;
}

.nav-section {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  &.prev-post:hover, &.next-post:hover {
    background-color: #242424;
    color: #f3f3f3;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  &.prev-post:hover a, &.next-post:hover a, &.prev-post a, &.next-post a {
    color: #f3f3f3;
  }
  &.prev-post h3, &.next-post h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }
  &.prev-post span, &.next-post span {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1;
  }
}

.post-section-heading {
  border-top: 1px solid #ff9600;
  border-bottom: 1px solid #ff9600;
  h2 {
    margin: 0;
    padding: 30px 25px;
    font-size: 16px !important;
    font-weight: 700 !important;
    color: #242424;
  }
}

.single-post-heading {
  background-color: #242424;
  padding: 45px 20px;
  h2 {
    margin-top: 0;
  }
  .section-heading {
    margin-bottom: 0px;
    h2 {
      margin-bottom: 15px;
    }
  }
}

#related-items .blog-item .overlay {
  h2 {
    margin: 0;
  }
  p {
    padding: 5% 10% 0;
    line-height: 1.8;
  }
}

.single-post-heading {
  .author, .date, .small span {
    color: #f3f3f3;
  }
}

.single-post-content p {
  margin-bottom: 40px;
}

#comment-form .btn{
  margin:20px auto 40px;
  width: 100%;
}

/*-----------------------------------------------------------------------------------*/
/*  CONTACT
/*-----------------------------------------------------------------------------------*/

#mapwrapper {
  width: 100%;
  min-height: 400px;
}

#contactform {
  .btn {
    width: 100%;
  }
  textarea {
    min-height: 188px !important;
  }
}

/*-----------------------------------------------------------------------------------*/
/*  MAIN SIDEBAR
/*-----------------------------------------------------------------------------------*/

#single-sidebar-inner {
  padding-left: 0;
  padding-right: 0;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #242424;
  color: #f3f3f3;
  margin-bottom: 45px;
}

#single-sidebar-inner-alt {
  padding-left: 0;
  padding-right: 0;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #f3f3f3;
  color: inherit;
  border: 1px solid #ff9600;
  margin-bottom: 45px;
  .review-item .review-score span {
    background-color: #242424;
  }
}

#single-sidebar .recent-comment-list {
  padding: 0 45px;
}

/*-----------------------------------------------------------------------------------*/
/*  SHARING
/*-----------------------------------------------------------------------------------*/

#sharebox .btn-share {
  &.disabled {
    margin-left: 0;
    margin-right: 10px;
    border: none;
    font-weight: 900;
    padding-left: 0;
    padding-right: 0;
    opacity: 1;
  }
  background-color: transparent;
  border: 1px solid #ff9600;
  box-shadow: none;
  color: #f3f3f3;
  padding: 12px 10px;
  margin-left: 10px !important;
  font-size: 14px;
  font-weight: 300;
  &:hover, &:active, &:focus {
    background-color: #ff9600;
    border: 1px solid #ff9600;
    color: #f3f3f3;
    top: 0;
  }
}

/*-----------------------------------------------------------------------------------*/
/*  AUTHOR BOX
/*-----------------------------------------------------------------------------------*/

#author-box {
  overflow: visible;
  display: inline-block;
  clear: both;
  width: 100%;
  .author-img {
    border: 10px solid #3D3D3D;
    position: relative;
    top: -18px;
    margin-bottom: -36px;
    float: left;
  }
  .author-title {
    margin: 0 0 -25px 180px;
    color: #ff9600;
    text-align: left;
    padding: 0px 20px 20px 20px;
    text-transform: uppercase;
    font-weight: 300;
  }
  p {
    &.small {
      margin: 0px 0 -5px 180px;
      text-align: left;
      padding: 35px 20px 0 20px;
      font-size: 15px;
    }
    a {
      margin-right: 5px;
      &:hover {
        color: #f3f3f3;
      }
    }
    margin: 0px 0 0px 180px;
    padding-left: 20px;
    letter-spacing: 0px;
    color: #f3f3f3;
    text-transform: uppercase;
  }
}

/*-----------------------------------------------------------------------------------*/
/*  POST COMMENTS
/*-----------------------------------------------------------------------------------*/

#comments {
  #comments-list {
    .well {
      background-color: transparent;
      border: none;
      box-shadow: none;
      padding: 0 20px 30px;
    }
    .media-heading {
      strong {
        color: #ff9600;
        text-transform: uppercase;
      }
      small {
        clear: left;
        display: block;
      }
    }
  }
  .form-control {
    border: 1px solid #ff9600;
    border-radius: 0;
    padding: 0 30px;
    color: #242424;
    margin-bottom: 40px;
    height: 70px;
    background-color: #f3f3f3;
  }
}

#contactform .form-control {
  border: 1px solid #ff9600;
  border-radius: 0;
  padding: 0 30px;
  color: #242424;
  margin-bottom: 40px;
  height: 70px;
  background-color: #f3f3f3;
}

#comments .form-control textarea, #contactform textarea {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
  min-height: 150px;
}

#comments .form-control:focus, #contactform .form-control:focus {
  border-color: #ff9600;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#comments {
  .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
  }
  textarea {
    margin-bottom: 0 !important;
    min-height: 224px !important;
    padding-top: 35px !important;
    padding-bottom: 35px !important;
  }
  .submit-comment {
    width: 100%;
    max-width: 100%;
  }
  .form-control::-webkit-input-placeholder {
    color: #242424;
    font-weight: 900;
    text-transform: uppercase;
  }
}

#contactform .form-control::-webkit-input-placeholder {
  color: #242424;
  font-weight: 900;
  text-transform: uppercase;
}

#comments .form-control:-moz-placeholder, #contactform .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #242424;
  font-weight: 900;
  text-transform: uppercase;
}

#comments .form-control::-moz-placeholder, #contactform .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #242424;
  font-weight: 900;
  text-transform: uppercase;
}

#comments .form-control:-ms-input-placeholder, #contactform .form-control:-ms-input-placeholder {
  color: #242424;
  font-weight: 900;
  text-transform: uppercase;
}

/*-----------------------------------------------------------------------------------*/
/* PORTFOLIO
/*-----------------------------------------------------------------------------------*/

.blog-items {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    overflow: hidden;
    padding: 0 8px;

    &.no-thumbnail{
      .item-inner{
        background:#000 url(http://aspirasikita.org/assets/img/logo-default-wide.png) no-repeat center;
      }
    }

    &.with-thumbnail{
      .item-inner{
        .overlay{
          height: 174px;
          bottom:0;
        }
      }
    }

    &:hover{
      .overlay{
          top:auto !important;
      }
    }


    .item-inner{
      height: 320px;
      background-size: cover;
      background-position: top center;
      background-color:#000;
      overflow: hidden;
      border-radius: 10px;
      margin-bottom: 30px;

      .category{
        text-transform: uppercase;
        font-size: 12px;
        color: #FFF;
        line-height: 1;
      }

      .overlay{
        @include transition(all 0.3 ease-in-out);



        h2{
          font-size: 14px;
          margin-top: 0;
          padding:0 20px;
        }
      }
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

/*-----------------------------------------------------------------------------------*/
/*  REVIEWS
/*-----------------------------------------------------------------------------------*/

.review-item .review-score {
  height: 40px;
  background: transparent;
  margin: 0;
  overflow: hidden;
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
}

.review-item-small .review-score {
  position: relative;
  line-height: 40px;
}

.review-item-small-low-score {
  position: absolute !important;
  display: inline-table !important;
}

.review-item-small .review-score {
  .title {
    float: left;
    color: #ff9600;
    text-transform: uppercase;
    padding-left: 45px;
    background-color: transparent;
    font-weight: 900;
    width: auto;
  }
  .review-rating {
    line-height: 40px !important;
    display: inline-table;
    position: absolute;
  }
}

.review-item .review-score {
  span {
    display: block;
    background: rgba(255, 255, 255, 0.8);
    width: 0;
    height: 100%;
    -webkit-transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .review-rating {
    display: block;
    position: relative;
    float: right;
    height: 40px;
    width: 50px;
    background: transparent;
    color: #ff9600;
    text-align: center;
    line-height: 34px;
    font-weight: 400;
    font-size: 16px;
  }
}

#single-review-total {
  padding: 35px 70px 10px;
  h1 {
    color: #ff9600;
    font-weight: 900;
    letter-spacing: 0px;
    small {
      font-size: 16px;
      color: #f3f3f3;
      font-weight: 400;
      padding-left: 15px;
    }
  }
}

.post-section-heading.divider-wrapper h2 {
  color: #f3f3f3;
}

#single-review-details .review-score {
  height: 40px;
  background: transparent;
  margin: 0;
  overflow: hidden;
  position: relative;
  display: block;
  bottom: 0;
  width: 100%;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  &.total {
    margin-bottom: 0;
    background: transparent;
    > span {
      background: #ff9600;
    }
  }
  > span {
    display: block;
    background: rgba(255, 255, 255, 0.8);
    width: 0;
    height: 100%;
    -webkit-transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
    border: 1px solid #ff9600;
  }
  .title {
    line-height: 40px;
    color: #ff9600;
    padding-left: 25px;
    font-weight: 900;
  }
  .review-rating {
    float: right;
    line-height: 40px;
    color: #ff9600;
    padding-right: 25px;
    font-weight: 900;
  }
  &.total {
    .title, .review-rating {
      color: #f3f3f3;
    }
  }
}

/*-----------------------------------------------------------------------------------*/
/*  ARCHIVES
/*-----------------------------------------------------------------------------------*/

.archive .blog-items .blog-item {
  margin-bottom: 45px;
}

.has-sidebar .blog-item {
  .overlay p {
    padding: 10px 20px 0;
  }
  .post-date, .view-post {
    width: 48%;
  }
}

/*-----------------------------------------------------------------------------------*/
/*  404/COUNTDOWN
/*-----------------------------------------------------------------------------------*/

.tinted-body-wrapper {
  height: 100%;
  width: 100%;
  background-color: rgba(36, 36, 36, 0.9);
  position: absolute;
}

#four-oh-four-content {
  position: relative;
  h1 {
    margin: 0;
  }
  .main-title {
    color: #ff9600;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 0px;
  }
  .counter {
    color: #242424;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 45px;
    text-shadow: -1px -1px 0 #ff9600, 1px -1px 0 #ff9600, -1px 1px 0 #ff9600, 1px 1px 0 #ff9600;
    font-size: 200px;
  }
}

.four-oh-four-menu a {
  font-size: 16px;
  font-weight: 300;
  margin: 0 25px;
}

.four-oh-four-logo img {
  min-width: 180px;
  height: auto;
}

#countdown {
  .col-md-3 {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
    text-align: center;
    max-width: 230px;
  }
  .row {
    text-align: center;
  }
  span {
    color: #242424;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 0px;
    text-shadow: -1px -1px 0 #ff9600, 1px -1px 0 #ff9600, -1px 1px 0 #ff9600, 1px 1px 0 #ff9600;
    font-size: 120px;
    br {
      display: none;
    }
    b {
      position: relative;
      top: -50px;
      color: #ff9600;
      margin-bottom: 0;
      text-shadow: none;
      font-weight: 300;
      font-size: 22px;
      display: block;
      clear: left;
    }
  }
}

/*-----------------------------------------------------------------------------------*/
/*  TIMELINE
/*-----------------------------------------------------------------------------------*/

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  &:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 1px;
    background-color: #ccc;
    left: 50%;
    margin-left: 0;
  }
  > li {
    margin-bottom: 20px;
    position: relative;
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    > {
      .timeline-panel {
        width: 50%;
        float: left;
        border: none;
        padding: 0px;
        position: relative;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      .timeline-badge {
        color: #fff;
        width: 10px;
        height: 10px;
        line-height: 10px;
        font-size: 1.4em;
        text-align: center;
        position: absolute;
        top: 95px;
        left: 50%;
        margin-left: -5px;
        background-color: #ff9600;
        z-index: 100;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
      }
    }
    &.timeline-inverted > .timeline-panel {
      float: right;
      &:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
      }
      &:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
      }
    }
  }
}

.timeline-title {
  margin-top: 0;
  color: #ff9600;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.timeline-body > {
  p, ul {
    margin-bottom: 0;
  }
  p + p {
    margin-top: 5px;
  }
}

@media (max-width: 767px) {
  ul.timeline {
    &:before {
      left: 40px;
    }
    > li > {
      .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
      }
      .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
      }
      .timeline-panel {
        float: right;
        &:before {
          border-left-width: 0;
          border-right-width: 15px;
          left: -15px;
          right: auto;
        }
        &:after {
          border-left-width: 0;
          border-right-width: 14px;
          left: -14px;
          right: auto;
        }
      }
    }
  }
}

.timeline > li.timeline-date {
  text-align: center;
  color: #ff9600;
  width: 100px;
  margin: 0 auto;
  background: #f3f3f3;
  padding: 25px 0;
  position: relative;
  top: -25px;
  h2 {
    margin: 0;
    text-transform: uppercase;
    z-index: 5;
    position: relative;
  }
  span {
    color: #f3f3f3;
    text-shadow: 0 0 1px #888;
    font-weight: 900;
    font-size: 100px;
    text-align: center;
    position: absolute;
    height: 100px;
    top: -10px;
    width: 100px;
    margin-left: -63px;
    z-index: 1;
    line-height: 1;
    width: 100px;
  }
}

.timeline-panel-date {
  height: 101px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  span {
    color: #ff9600;
    font-weight: 900;
    position: absolute;
    bottom: 0;
    width: 20px;
    margin-left: -10px;
  }
}

/*-----------------------------------------------------------------------------------*/
/*  NEWS TICKER
/*-----------------------------------------------------------------------------------*/

.ticker-wrapper {
  padding: 30px 0 !important;
  line-height: 1;
  color: #ff9600;
  h4 {
    margin: 0 20px 0 0;
    text-transform: uppercase;
    color: #ff9600;
    font-weight: 300;
    letter-spacing: -1px;
  }
  .vticker {
    line-height: 20px;
    color: #ff9600;
    font-weight: 400;
  }
}

/*-----------------------------------------------------------------------------------*/
/*  WIDGETS
/*-----------------------------------------------------------------------------------*/

.widget {
  margin-bottom: 90px;
  .widget-title {
    font-size: 18px;
    text-align: center;
    color: #ff9600;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 45px;
  }
}

.big-items-widget {
  .overlay {
    padding-top: 10%;
  }
  .list-inline, .view-post {
    width: 48%;
  }
  .blog-item {
    margin-bottom: 25px;
  }
  .overlay {
    h2 {
      margin: 0;
    }
    p {
      padding: 20px 10% 0;
    }
  }
}

.carousel-indicators {
  &.footer-indicators {
    position: relative;
    bottom: 0;
  }
  li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 0px;
  }
}

.footer-main .carousel-indicators li {
  background-color: rgba(255, 255, 255, 0.8);
}

.carousel-indicators .active {
  background-color: #ff9600 !important;
}

.comment-list {
  padding: 0;
  list-style: none;
  li {
    margin: 0;
    margin-bottom: 25px;
    clear: both;
    overflow: hidden;
    > div {
      display: table-cell;
    }
  }
}

.commentText span {
  position: relative;
  font-size: 12px;
  top: -5px;
}

.commenterImage {
  width: 50px;
  margin-right: 10px;
  height: 100%;
  float: left;
  img {
    width: 100%;
    border-radius: 0;
    height: auto;
  }
}

.commentText p {
  margin: 0;
}

.about-widget {
  background-image: url('../img/footer_map.png');
  p {
    padding: 45px;
    line-height: 2.2;
  }
}

.widget .tag-cloud {
  padding-left: 25px;
  padding-right: 25px;
  .btn-outlined {
    border: 1px solid #ff9600;
    padding: 6px 12px;
    float: left;
    margin: 0px 0px 6px 0;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0px;
    &:hover {
      background-color: #ff9600;
      color: #fff;
    }
  }
}

.social-widget a {
  color: #f3f3f3;
  opacity: 0.5;
  font-size: 24px;
  margin: 0 5px;
  &:hover {
    color: #F36C63;
    opacity: 1;
  }
}

/*-----------------------------------------------------------------------------------*/
/*  FOOTER MAIN
/*-----------------------------------------------------------------------------------*/

.footer-main {
  background-color: #242424;
  background-image: url(../img/z.png);
  color: #9aa6ab;
  padding: 45px 0;


  #footer-nav{
      h3{
        font-size: 16px;
        text-transform: uppercase;
        margin: 0 0 5px;
      }

      .footer-menu{
        list-style: none;
        margin: 0;
        padding: 0;

        li{
          font-size: 16px;
          line-height: 1.4;
          font-weight: 500;

          a{
            color: #9aa6ab;
          
          &:hover{
            color:#ff9600;
          }

          }
        }
      }

      .footer-menu-secondary{
        list-style: none;
        margin: 0;
        padding: 0;

        li{
          font-size: 16px;
          line-height: 1.8;
          font-weight: 500;
          text-transform: uppercase;

          a{
            color: #9aa6ab;
          
          &:hover{
            color:#ff9600;
          }

          }
        }
      }
  }
}

/*-----------------------------------------------------------------------------------*/
/*  FOOTER SECONDARY
/*-----------------------------------------------------------------------------------*/

.footer-secondary {
  background-color: #485960;
  color: #f3f3f3;
  padding: 20px 0;
}

#footer-twitter-feed {
  font-size: 14px;
  .fa {
    font-size: 20px;
    line-height: 1;
    position: relative;
    top: 2px;
    margin: -2px 10px 0 0;
  }
  p {
    display: inline-block;
    margin: 0 0 0 10px;
  }
}

.twitter-feed li {
  &:first-of-type {
    display: block;
  }
  display: none;
}

#back-to-top {
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 20px;
  i {
    font-size: 20px;
    line-height: 1;
    position: relative;
    top: 2px;
    margin: -2px 0 0 0;
  }
}

/*-----------------------------------------------------------------------------------*/
/*  MISC
/*-----------------------------------------------------------------------------------*/

.section-heading {
  margin-bottom: 45px;
  color: #d35400;
  text-transform: uppercase;
  font-weight: 300;
  h2 {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 0px;
  }
  font-size: 18px;
}

/*-----------------------------------------------------------------------------------*/
/*  ANIMATE
/*-----------------------------------------------------------------------------------*/

.no-display {
  opacity: 0;
}

.appear {
  opacity: 1;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/*-----------------------------------------------------------------------------------*/
/*  SPLASH
/*-----------------------------------------------------------------------------------*/

.preloader {
  background-color: #3D3D3D;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  top: 0;
  bottom: 0;
  .preloader-img {
    width: 193px;
    height: 42px;
    position: absolute;
    top: 40%;
    margin-top: -60px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 200px;
  background: #3D3D3D;
  border: 1px solid #3D3D3D;
  .pace-progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 1s ease-in-out 1s linear;
    -moz-transition: width 1s ease-in-out 1s linear;
    -ms-transition: width 1s ease-in-out 1s linear;
    -o-transition: width 1s ease-in-out 1s linear;
    transition: width 1s ease-in-out 1s linear;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    max-width: 200px;
    position: fixed;
    z-index: 2000;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    background: #ff9600;
  }
  &.pace-inactive {
    display: none;
  }
}

/*-----------------------------------------------------------------------------------*/
/*  ICOMOON
/*-----------------------------------------------------------------------------------*/
@font-face {
  font-family: "untitled-font-3";
  src: url("../fonts/untitled-font-3.eot");
  src: url("../fonts/untitled-font-3.eot?#iefix") format("embedded-opentype"), url("../fonts/untitled-font-3.woff") format("woff"), url("../fonts/untitled-font-3.ttf") format("truetype"), url("../fonts/untitled-font-3.svg#untitled-font-3") format("svg");
  font-weight: normal;
  font-style: normal;
}


[data-icon]:before {
  font-family: "untitled-font-3" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "untitled-font-3" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrowr:before {
  content: "a" !important;
}

.icon-arrowl:before {
  content: "b" !important;
}

/*-----------------------------------------------------------------------------------*/
/*  CIRCLEFUL
/*-----------------------------------------------------------------------------------*/

.circliful {
  position: relative;
}

.circle-text, .circle-info, .circle-text-half, .circle-info-half {
  width: 100%;
  position: absolute;
  text-align: center;
  display: inline-block;
  color: #ff9600;
  font-weight: 900;
}

.circle-info, .circle-info-half {
  color: #999;
}

.circliful .fa {
  margin: -10px 3px 0 3px;
  position: relative;
  bottom: 4px;
}

/*-----------------------------------------------------------------------------------*/
/*  OWL CAROUSEL
/*-----------------------------------------------------------------------------------*/
/*
*   Owl Carousel Owl Demo Theme 
*   v1.3.3
*/
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */

/* clearfix */

.owl-carousel {
  .owl-wrapper {
    &:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
  .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    &.autoHeight {
      -webkit-transition: height 500ms ease-in-out;
      -moz-transition: height 500ms ease-in-out;
      -ms-transition: height 500ms ease-in-out;
      -o-transition: height 500ms ease-in-out;
      transition: height 500ms ease-in-out;
    }
  }
  .owl-item {
    float: left;
    padding: 0 15px;
  }
}

/* display none until init */

.owl-controls {
  .owl-page, .owl-buttons div {
    cursor: pointer;
  }
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */

.grabbing {
  cursor: url(grabbing.png) 8 8, move;
}

/* fix */

.owl-carousel {
  .owl-wrapper, .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
  }
}

.owl-controls {
  .owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    font-size: 100px;
    margin-top: -80px;
    opacity: 0.6;
  }
  .owl-prev {
    left: -70px;
  }
  .owl-next {
    right: -70px;
  }
}

/*-----------------------------------------------------------------------------------*/
/*  TOOLTIPS
/*-----------------------------------------------------------------------------------*/

.tooltip-inner {
  max-width: 200px;
  padding: 10px 15px;
  color: #f3f3f3;
  text-align: center;
  text-decoration: none;
  background-color: #101010;
  border-radius: 0px;
}

.tooltip {
  position: absolute;
  width: 200px;
  margin-left: 100px;
  z-index: 1070;
  display: block;
  font-size: 12px;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity = 0);
  opacity: 0;
  &.top .tooltip-arrow {
    bottom: 5px;
    left: 0px;
    margin-left: -5px;
    border-width: 10px 10px 0;
    border-top-color: #101010;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  &.in {
    filter: alpha(opacity = 95);
    opacity: .95;
  }
}

/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 * 
 * @geedmo - Licensed under the MIT license
 */

.yamm {
  .nav, .collapse, .dropup, .dropdown {
    position: static;
  }
  .container {
    position: relative;
  }
  .dropdown-menu {
    left: auto;
    right: auto;
  }
  .yamm-content {
    padding: 20px 30px;
  }
  .dropdown.yamm-fw .dropdown-menu {
    left: 0;
    right: 0;
    a {
      color: #fff;
    }
  }
}

.dropdown-menu .overlay-metas {
  .list-inline, .post-date, .view-post {
    width: 48%;
  }
}

.yamm-list li a {
  position: relative;
  left: 0;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  &:hover {
    color: #fff;
    left: 10px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
}

/*-----------------------------------------------------------------------------------*/
/*  RESPONSIVE
/*-----------------------------------------------------------------------------------*/
@media only screen and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .overlay .post-date {
    display: none;
  }
  .overlay-metas {
    .list-inline, .view-post {
      width: 48%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
  #main-navigation .navbar-brand {
    margin-top: 0px;
  }
  #top-bar-social {
    margin: 0;
    width: 100%;
    text-align: center;
    li {
      display: inline-block;
    }
  }
  .navbar-nav {
    .open .dropdown-menu {
      background-color: #ff9600;
    }
    > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .blog-item {
    margin-bottom: 25px;
  }
  .owl-controls {
    .owl-prev, .owl-next {
      display: none;
    }
  }
  #home-slider .btn-alt {
    display: none;
  }
  .full-width-carousel {
    .btn-alt, .carousel-caption .section-heading p {
      display: none;
    }
  }
  #home-slider {
    min-height: 360px;
    min-height: 400px;
    overflow: hidden;
    .carousel-inner {
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .carousel-caption {
      text-align: center;
    }
    .caption-wrapper {
      border-left: none;
      padding: 10px 20px;
      width: 100%;
      max-width: 100%;
    }
  }
  .full-width-carousel .carousel-caption .col-md-4 {
    border-left: none;
    padding: 10px 20px;
    width: 100%;
    max-width: 100%;
  }
  #home-slider .carousel-caption {
    h2 {
      font-style: 24px;
      margin: 5px 0 15px 0;
    }
    p {
      display: none;
    }
  }
  #slider-fill {
    display: none;
  }
  #photography-carousel .carousel-inner > .item > img {
    max-width: 200%;
  }
  .full-width-carousel .carousel-caption {
    position: relative;
  }
}

@media only screen and (min-width: 768px) {
  .carousel-control {
    .glyphicon-chevron-left, .glyphicon-chevron-right, .icon-prev, .icon-next {
      width: 30px;
      height: 30px;
      margin-top: -60px;
      font-size: 100px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .blog-item, .footer-main .col-xs-6 {
    width: 100%;
    margin-bottom: 25px;
  }
  .navbar-nav .open .dropdown-menu {
    background-color: #ff9600;
  }
  #comments-list .pull-left {
    display: none;
  }
  #home-slider {
    .btn, .btn-alt {
      padding-left: 6px;
      padding-right: 6px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 10px;
    }
  }
  .full-width-carousel {
    .btn, .btn-alt {
      padding-left: 6px;
      padding-right: 6px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 10px;
    }
  }
  .blog-item .overlay p {
    font-size: 13px;
    padding: 10px 30px 0;
    /*line-height: 2;*/
  }
  #author-box {
    .author-img, p.small, .author-title, p {
      clear: both;
      display: block;
      margin: 0 0 15px;
      padding: 0;
      text-align: center;
      width: 100%;
    }
  }
  #sharebox .btn-share.disabled {
    clear: both;
    display: block;
    float: none;
    margin-bottom: 10px;
  }
}


/*-----------------------------------------------------------------------------------*/
/*  FEATURED POST
/*-----------------------------------------------------------------------------------*/
#featured-post{
    background: #485960;
    padding: 10px 0;
    margin-top: 86px;
    overflow: hidden;
    border-radius: 10px;
    height: 375px;
    float: right;
    width: 24.15%;

  .section-title{
      margin: 0;
      padding: 10px 30px 20px;
      text-transform: uppercase;
      letter-spacing: -1px;
      font-weight: 300;
      text-align: center;
      color: #FFF;
  }

  .item{
    height: 250px;
    background-size: cover;
    background-position: top center;
    position: relative;

    .overlay{
      position: absolute;
      width: 100%;
      background: rgba(255, 150, 0, 0.85);
      padding: 12px;
      bottom: 0;

      h4{
        text-transform: uppercase;
        font-size: 14px;
        line-height: 1.4;
        color: #FFF;
      }
    }
  }
}

#pagination{
  clear: both;
}

@media (min-width: 1200px){
  #other-topics {
     padding-left: 25px;
  }
}

/*-----------------------------------------------------------------------------------*/
/*  CHART WIDGET
/*-----------------------------------------------------------------------------------*/
#chart-widget {
  border:2px solid #3f5561;
  height: 670px;
  text-align: center;
  border-radius: 10px;

  h3{
    font-size: 26px;
    font-weight: normal;
    margin: 40px 0 10px;
  }

  select{
      width: 80%;
      margin: 20px auto;
      font-weight: bold;
  }

  .pie-chart{
    padding: 40px 0;
  }
}

/*-----------------------------------------------------------------------------------*/
/* PAGE STYLE
/*-----------------------------------------------------------------------------------*/
.page-title{
  padding: 40px 0 40px;
    text-align: center;
    text-transform: uppercase;
    color: #ff9600;

  h1{
    font-size: 30px;
    color: #ff9600;
    margin: 0;
  }

  h2{
     color: #ff9600;
     margin: 0;
     font-size: 20px;
     font-weight: normal;
  }

  p{
    text-transform: none;
    color: #252d31;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
  }
}

#single-page{
  article{
    p{
      font-size: 18px;
      margin-bottom: 20px;
      font-weight: 400;
    }
  }
}

/*-----------------------------------------------------------------------------------*/
/* USER PANEL
/*-----------------------------------------------------------------------------------*/
#user-panel {
  position: fixed;
  top: -100%;
  width: 100%;
  z-index: 1000;
  background: rgba(63, 85, 97, 0.9);
  height: 100%;
  overflow: hidden;
  padding-top: 80px;
  color: #FFF;
  @include transition(all 0.5s ease-in-out);

  &.active{
    top: 50px;
  }

  h2{
    color: #ff9600;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: -1px;
  }

  h3{
    font-size: 16px;
    color: #FFF;
    text-transform: uppercase;
  }

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="number"],
  input[type="email"]{
    background-color: #4c606b;
    color: #FFF;
    border: 1px solid #dcdfe1;
    height: 60px;
    padding: 0 20px;
    width: 100%;
  }

  .field{
    margin: 15px 0;
  }

  .login-social{
      margin: 20px 0 40px;
      padding: 0;
      list-style: none;

      li{
        display: inline-block;
        margin: 0 5px 10px;

        .btn{
          box-shadow: 0 3px;

          .fa{
            margin-right: 8px;
          }
        }

        &.facebook{
          .btn{
            background-color: #3b5998;
            box-shadow: 0 3px #2d4474;
          }
        }

        &.twitter{
          .btn{
            background-color: #55acee;
            box-shadow: 0 3px #4183b5;
          }
        }

        &.gplus{
          .btn{
            background-color: #d34836;
            box-shadow: 0 3px #a13729;
          }
        }
      }
    }

  .login-form{
    margin: 0;
  }
}

/*-----------------------------------------------------------------------------------*/
/* TABS MOFIFIED
/*-----------------------------------------------------------------------------------*/
.nav-tabs {
  border: 1px solid #ff9600;
  margin-bottom: 60px;
  display: inline-block;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: bold;

  >li{
    &:first-child a{
      border-radius: 30px 0 0 30px;
    }

    &:last-child a{
      border-radius: 0 30px 30px 0;
    }

    &.active, &:focus, &:hover{
       a{
        color: #FFF !important;
        cursor: pointer;
        background-color: #ff9600 !important;
        border:0 !important;
        border-bottom-color: transparent;
        margin: 0;
      }
    }
    >a{
      color: #ff9600;
      border-radius: 0;
      font-weight: 500;
      font-size: 15px;
      margin: 0;
      height: 43px;
      padding: 10px 35px;


      &:hover{
        background:#ff9600 !important;
      }
    }
  }
}

/*-----------------------------------------------------------------------------------*/
/* USER DASHBOARD
/*-----------------------------------------------------------------------------------*/
#user-profile {
  .user-picture {
    width: 212px;
    height: 212px;
    border-radius: 200px;
    border: 5px solid #FFF;
    overflow: hidden;
    float: left;
    padding-right: 20px;
    background-size: cover;
    background-position: center;
  }

  .user-details{

    .user-name{
      margin-bottom: 0;
      font-size: 28px;
      text-transform: uppercase;
    }

    .user-since{
      font-weight: 400;
      font-size: 16px;
    }

    .aspirasi-data {
      display: inline-block;
      text-align: center;
      border-right: 1px solid;
      font-size: 20px;
      text-transform: uppercase;
      color: #30414a;
      font-weight: bold;
      padding: 0 30px;



      &:last-child{
        border:0;
      }

      &.post{
        padding-left:0 !important;
      }

      p{
        padding: 0;
        margin: 0;
        line-height: 1.1;
      }

      .counter{
        font-size: 45px;
        color: #ff9600;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 10px;
      }
    }

  }
}

/*-----------------------------------------------------------------------------------*/
/* Aspirasik
/*-----------------------------------------------------------------------------------*/
.photo-container{
  width: 180px;
  height: 180px;
  margin: auto;
  position: relative;
  border-radius: 180px;
  border: 3px dashed #30414a;
  overflow: hidden;

  img{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.aspirasik {
  .page-title{
    p{
      text-transform: none;
      color: #252d31;
      font-size: 16px;
      line-height: 1.4;
    }
  }

  &.step-2{
    .photo-container{
      margin: 40px auto;
    }
  }

  .btn{
    width: 150px;
    margin: 0 3px;
  }

  .menteri-container{
    .menteri-box{
      margin-bottom: 60px;
    }
  }
}

/*-----------------------------------------------------------------------------------*/
/*  PROFIL POLITIKUS
/*-----------------------------------------------------------------------------------*/
.profil-politikus{
    margin:0;
    padding:0;
    list-style: none;

    li{
      .photo{
        width: 180px;
        height: 180px;
        border-radius:180px;
        border:2px solid #fff;
        overflow: hidden;
        margin:0 auto 10px;
      }

      h3{
        font-size:22px;
        color: #252d31;
        margin:0;
        text-transform: uppercase;
      }

      &:hover{
        opacity:0.8;
      }
    }
}

/*-----------------------------------------------------------------------------------*/
/*  GALERI KABINET
/*-----------------------------------------------------------------------------------*/
.gallery-kabinet{
  list-style: none;
  margin:0;
  padding:0;
  text-align: left;

  li{
    margin-bottom: 20px;
    padding:0 10px;

    .box{
      background:#ebebeb;
      display: block;
      border-radius:10px;
      overflow: hidden;

      h3{
        padding:30px;
        margin:0;
        font-size: 18px;
        color: #30414a;
      }

      .meta-info{
        background:#fd9e17;
        padding:10px 20px;
        color: #fff;
        line-height: 1.2;

        small{
          font-size: 12px;
        }

        p{
            margin:0;
            font-size:12px;
            font-weight: bold;
            color: #fff;
          }

          .region{
            font-weight: bold;
            font-size: 12px;
          }
      }

      .date{
        background:#3f5561;
        text-align: center;
        font-size: 12px;
        color: #fff;
        padding:10px;
      }
    }

  }
}

/*-----------------------------------------------------------------------------------*/
/* SUBMIT INSPIRASI
/*-----------------------------------------------------------------------------------*/
#submit-aspirasi{
    .field{
      clear:both;
      margin: 10px 0;
    }

    input[type="text"], textarea, select{
      border:1px solid #252d31;
      height: 60px;
      width: 100%;
      margin-bottom: 10px;
      padding: 20px !important;
      color: #252d31;
      background-color:#f8f8f8;
      font-weight: bold;
    }

    textarea{
      min-height:200px;
    }

    #polling{
      input{
        width: 80%;
        margin: 20px auto;
        display: block;
      }
    }

    .NFI-wrapper{
      width: 100%;
      position:relative;
    }

    .NFI-button {
      position: absolute !important;
      right: 15px;
      float: none !important;
      top: 8px;
    }

    ::-webkit-input-placeholder {
       color: #252d31;
       text-transform: uppercase;
    }

    :-moz-placeholder { /* Firefox 18- */
      color: #252d31;
      text-transform: uppercase; 
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: #252d31;
       text-transform: uppercase;
    }

    :-ms-input-placeholder {  
       color: #252d31;
       text-transform: uppercase;
    }

      /* Base for label styling */
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 35px;
    padding-top: 5px;
    cursor: pointer;
    color: #252d31;
  }

  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: 2px;
    width: 30px; height: 30px;
    border: 1px solid #252d31;
    background: #f8f8f8;
  }
  /* checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: "\f00c";
    position: absolute;
    top: 0; left: 4px;
    font-family: FontAwesome;
    font-size: 20px;
    color: #252d31;
    transition: all .2s;
  }
  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  /* disabled checkbox */
  [type="checkbox"]:disabled:not(:checked) + label:before,
  [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
  }
  [type="checkbox"]:disabled:checked + label:after {
    color: #999;
  }
  [type="checkbox"]:disabled + label {
    color: #aaa;
  }
  /* accessibility */
  [type="checkbox"]:checked:focus + label:before,
  [type="checkbox"]:not(:checked):focus + label:before {
    //border: 1px dotted blue;
  }

  /* hover style just for information */
  label:hover:before {
    //border: 1px solid #4778d9!important;
  }


}

/*-----------------------------------------------------------------------------------*/
/* FOOTER
/*-----------------------------------------------------------------------------------*/
.social-widget{
  margin: 0;

  li{
      width: 55px;
      height: 55px;
      background-color: #374449;
      text-align: center;
      line-height: 55px;
      padding: 0;
      margin: 0 -2px;

    &:nth-child(2){
      background-color:#3e4c51;
    }
  }
}

.copyright{
  font-size: 16px;
  text-transform: uppercase;
  color: #9aa6ab;
  margin-top: 10px;
  font-weight: bold;
}